.accordion {
  padding: 5px;
  border-bottom: 1px solid hsl(240, 1%, 72%);
  color: hsl(240, 6%, 50%);
}

.question {
  display: grid;
  grid-template-columns: auto 5%;
  padding: 5px 0;
}

.question:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.arrowIcon {
  color: hsl(14, 88%, 65%);
  transition: all 0.5s ease;
}

.rotate {
  transform: rotate(180deg);
}

.answer {
  padding: 5px 0;
  display: none;
  transition: all 3s ease;
}

.show {
  display: block;
}

.active {
  color: hsl(237, 12%, 33%);
}
